@import "tailwindcss";

@theme {
  --color-surface-bright: #fff8f3;
  --color-secondary-fixed-dim: #94d4b7;
  --color-inverse-surface: #33302c;
  --color-primary-container: #ff8a5b;
  --color-tertiary-container: #ad9dff;
  --color-tertiary-fixed: #e6deff;
  --color-background: #fff8f3;
  --color-outline: #8a726a;
  --color-primary-fixed: #ffdbce;
  --color-on-error-container: #93000a;
  --color-on-error: #ffffff;
  --color-surface-container-highest: #e8e1db;
  --color-on-background: #1e1b17;
  --color-on-primary-fixed: #370e00;
  --color-on-primary-fixed-variant: #7f2b01;
  --color-on-secondary: #ffffff;
  --color-tertiary: #6050af;
  --color-on-secondary-container: #306d56;
  --color-inverse-on-surface: #f7efe9;
  --color-on-secondary-fixed-variant: #0b513b;
  --color-inverse-primary: #ffb599;
  --color-primary: #9f4118;
  --color-primary-fixed-dim: #ffb599;
  --color-tertiary-fixed-dim: #c9beff;
  --color-on-tertiary-fixed-variant: #483795;
  --color-on-primary-container: #722500;
  --color-on-surface: #1e1b17;
  --color-secondary-container: #adedd0;
  --color-on-tertiary-fixed: #1b0062;
  --color-surface-container: #f4ede6;
  --color-on-surface-variant: #56423b;
  --color-secondary: #2b6952;
  --color-error: #ba1a1a;
  --color-outline-variant: #ddc1b7;
  --color-surface-container-high: #eee7e1;
  --color-surface-dim: #e0d9d3;
  --color-on-primary: #ffffff;
  --color-surface-container-low: #faf2ec;
  --color-on-tertiary-container: #3f2e8d;
  --color-secondary-fixed: #b0f0d2;
  --color-surface-tint: #9f4118;
  --color-surface-variant: #e8e1db;
  --color-on-secondary-fixed: #002115;
  --color-surface: #fff8f3;
  --color-surface-container-lowest: #ffffff;
  --color-error-container: #ffdad6;
  --color-on-tertiary: #ffffff;

  --font-sans: 'Plus Jakarta Sans', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

@layer base {
  body {
    background-color: #fff8f3;
    color: #1e1b17;
    font-family: 'Plus Jakarta Sans', system-ui, sans-serif;
    overscroll-behavior: none;
  }
}

/* Hide scrollbars */
.no-scrollbar::-webkit-scrollbar,
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.no-scrollbar,
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
